{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">About (acerca de)</h2>

<ol class="breadcrumb mb-4">
  <li>Breve descripción del proyecto y su creador.</li>
</ol>

<div class="card mb-4">
  <div class="card-body">
    <p>
      Breve descripción del proyecto y su creador:
      <li>
        Mi nombre es Roman, soy cordobés de 38 años, trabajo como ingeniero de virtualización en una empresa de telecomunicaciones. 
        Este año decidí realizar el curso Python Web en Coderhouse por necesidad de iniciarme en el desarrollo y 
        completar mis primeros pasos en la programación, principalmente para aplicarlo diariamente en el trabajo y 
        por necesidad de avanzar en mis conocimientos de informática.
      </li>
      <li>
        Previamente a cursar Python Web, tenía algunos conocimientos básicos de programción en python, 
        pero nunca había logrado avanzar en un proyecto determinado, por lo que el curso me pareció muy práctico, simple y
        fuertemente enfocado en el objetivo de aprender practicando, me pareció excelente!
      </li>
    </p>
  </div>
</div>

{% endblock %}