{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">About</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pages">Pages</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">
    <p>
      Breve descripción del proyecto:
      <p>
        El proyecto consiste en una página web que tiene una aplicación que permite a los usuarios 
        crear, consultar, modificar o eliminar información sobre: 
        <em>Sitios, Racks, Proveedores, Dispositivos y Operadores</em>. Además, los usuarios pueden crear, consultar, modificar y eliminar 
        <em>Casos</em> asociados a <em>Dispositivos</em> y sus propias <em>Tareas</em> para darle un seguimiento.
      </p>
    </p>
    <hr>
    <p>
      Breve reseña de su creador:
      <p>
        Mi nombre es Roman, cordobés de 38 años, trabajo como administrador de sistemas. 
        Este año decidí realizar el curso Python Web en Coderhouse por que senti la necesidad de iniciarme en el desarrollo y 
        dar mis primeros pasos en la programación.
      </p>
      <p>
        Previamente a cursar Python Web, tenía algunos conocimientos básicos de programción en python, 
        pero nunca había logrado avanzar en un proyecto determinado, por lo que el curso me pareció práctico, simple y 
        fuertemente enfocado en el objetivo de aprender practicando, lo que me pareció excelente!
      </p>
    </p>
  </div>
</div>

{% endblock %}