{% extends 'base.html' %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
          <h2 class="mt-4">About</h2>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto in iusto quae. Minus adipisci eius eaque provident facere vitae porro ex iusto error! Blanditiis ex harum asperiores quas neque eligendi!
            </li>
          </ol>
          <div class="card mb-4">
            <div class="card-body">¿
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem laudantium commodi doloremque neque dicta officiis saepe! Deleniti mollitia iste, nisi vel cupiditate, delectus nesciunt, eligendi illo et error sit praesentium!
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam ullam consequuntur architecto aperiam tempore repellat voluptatem repellendus vel facilis totam voluptate tempora, eaque eveniet libero molestiae ex accusantium magni iure?
            </div>
            <div class="card-body">
              <img src="/media/static/vecteezy.png" class="img-fluid">
            </div>
          </div>
        </div>
    </main>
</div>

{% endblock %}