{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Edit / Delete > Case</h2>

{{case.caseId}} - {{case.description}} - {{case.severity}} - {{case.site}} - {{case.vendor}} - {{case.device}} - {{case.operator}}

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-body">

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
    
      <section>
        <img
          src="{{ case.caseImage.url }}"
          alt="{{ case.description }}"
        />
      </section>
    
      <button>
        Update
      </button>
    </form>
    
    <form action="{% url 'case_delete' case.id %}" method="POST">
      {% csrf_token %}
      
      <button>
        Delete
      </button>
    </form>

  </div>
</div>

{% endblock %}