{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Cases</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">List</li>
    <li class="breadcrumb-item"><a href="/case_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/case_create">Create</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    {% for case in cases %}
    <li>
      <!-- {{case.id}} -->{{case.caseId}} - {{case.site}} - {{case.rack}} - {{case.vendor}} - {{case.device}} - {{case.severity}} - {{case.description}} - {{case.operator}}
      - <a href="{% url 'case_detail' case.id %}">Edit / Delete</a>
    </li>
    {% endfor %}

  </div>
</div>

{% endblock %}
