{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Cases</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/case_create">Create</a></li>
    <li class="breadcrumb-item"><a href="/cases">List</a></li>
    <li class="breadcrumb-item"><a href="/case_table">Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit/Delete</li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-body">
    <p><strong>{{case.caseId}} - {{case.site}} - {{ case.rack }} - {{case.vendor}} - {{case.device}} - {{case.severity}} - {{case.description}} - {{case.operator}}</strong></p>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
    
      <section>
        <img
          src="{{ case.caseImage.url }}"
          alt="{{ case.description }}"
        />
      </section>
    
      <button>
        Update
      </button>
    </form>
    
    <form action="{% url 'case_delete' case.id %}" method="POST">
      {% csrf_token %}
      
      <button>
        Delete
      </button>
    </form>

  </div>
</div>

{% endblock %}