{% extends 'base.html' %}

{% block content %}

<h2>Case > Edit / Delete</h2>

{{case.id}} {{case.description}}

{{error}}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}

  <section>
    <img
      src="{{ case.caseImage.url }}"
      alt="{{ case.description }}"
    />
  </section>
  <button>
    Update
  </button>
</form>

<form action="{% url 'case_delete' case.id %}" method="POST">
  {% csrf_token %}
  <button>
    Delete
  </button>
</form>

{% endblock %}