{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Devices</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/device_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">List</li>
    <li class="breadcrumb-item"><a href="/device_table">Table</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    {% for device in devices %}
    <li>
      <a href="{% url 'device_nav' device.id %}">{{ device.deviceId }}</a>
      <!-- {{device.id}} --> - {{device.site}} - {{device.rack}} - {{device.vendor}} - {{device.category}} - {{device.name}} - {{device.model}} - {{device.serialNumber}}
      {% if user.is_staff %}
      - <a href="{% url 'device_detail' device.id %}">Edit/Delete</a>
      {% endif %}
    </li>
    {% endfor %}

  </div>
</div>

{% endblock %}
