{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Devices</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/device_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/devices">List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Table</li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Device ID</th>
                <th>Site</th>
                <th>Rack</th>
                <th>Vendor</th>
                <th>Category</th>
                <th>Name</th>
                <th>Model</th>
                <th>Serial Number</th>
                {% if user.is_staff %}
                <th>Options</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td><a href="{% url 'device_nav' device.id %}">{{ device.deviceId }}</a></td>
                <td>{{ device.site }}</td>
                <td>{{ device.rack }}</td>
                <td>{{ device.vendor }}</td>
                <td>{{ device.category }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.model }}</td>
                <td>{{ device.serialNumber }}</td>
                {% if user.is_staff %}
                <td><a href="{% url 'device_detail' device.id %}">Edit/Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</div>

{% endblock %}