{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">List > Device</h2>

<div class="card mb-4">
  <div class="card-body">

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Device ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Model</th>
                <th>Serial Number</th>
                <th>Site</th>
                <th>Rack</th>
                <th>Vendor</th>
                {% if user.is_staff %}
                <th>Options</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>{{ device.deviceId }}</td>
                <td>{{ device.name }}</td>
                <td>{{ device.category }}</td>
                <td>{{ device.model }}</td>
                <td>{{ device.serialNumber }}</td>
                <td>{{ device.site }}</td>
                <td>{{ device.rack }}</td>
                <td>{{ device.vendor }}</td>
                {% if user.is_staff %}
                <td><a href="{% url 'device_detail' device.id %}">Edit / Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</div>

{% endblock %}