{% extends 'base.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
          <h2 class="mt-4">Home</h2>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ducimus sapiente quo dolore exercitationem suscipit quaerat doloribus voluptatibus dicta. Repellat similique molestias provident sed? Inventore veritatis a quasi ipsa error?
            </li>
          </ol>
          <div class="card mb-4">
            <div class="card-body">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque porro commodi veritatis quia maxime autem alias dolorum dicta quo, at facere ex totam quisquam consectetur dolore officiis doloremque quis sint?
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut debitis impedit dicta, officia nobis vero. Nemo, nulla iure veritatis delectus similique mollitia. Quam voluptatibus eius sunt autem quas quibusdam. Consequatur.
            </div>
            <div class="card-body">
              <img src="/media/static/vecteezy.png" class="img-fluid">
            </div>
          </div>
      </div>
    </main>
</div>
{% endblock %}
