{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Home</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item"><a href="/pages">Pages</a></li>
    <li class="breadcrumb-item"><a href="/about">About</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">
    <p>
      Bienvenido a la página web <b>Follow-up</b>:
      <p>
        Esta página web permite gestión de usuarios, para que los usuarios registrados puedan crear, consultar, modificar o eliminar información sobre: 
        <em>Sitios, Racks, Proveedores, Dispositivos, Operadores, Casos y Tareas</em>.
      </p>
      <p>
        <li>
          Existen diferentes tipos de usuarios: <b>admin</b> (superuser), <b>staff</b> (mayor privilegio) y <b>normal</b> (menor privilegio).
        </li>
        <li>
          Los usuarios <b>admin</b> y <b>staff</b> pueden crear, consultar, modificar y eliminar elementos de todos los tipos: 
          <em>Sitios, Racks, Proveedores, Dispositivos, Operadores, Casos y Tareas</em>, además pueden acceder a todas la páginas sin ninguna restricción.
        </li>
        <li>
          Los usuarios <b>normales</b> pueden consultar información de todos los elementos disponibles y además pueden 
          crear, modificar y eliminar los elementos de tipo <em>Caso y Tarea</em>.  
        </li>
        <li>
          Cada <em>Operador</em> se pueden asociar a un usuario registrado.
        </li>
        <li>
          Cada <em>Caso</em> está directamente relacionado a un <em>Dispositivo</em> en particular, que a su vez está asociado a un <em>Sitio, Rack y Proveedor</em>, 
          además el <em>Caso</em> se puede asociar a un único <em>Operador</em>.
        </li>
        <li>
          Las <em>Tareas</em> están únicamente asociadas al propio usuario que las crea.
        </li>
      </p>
    </p>
  </div>
</div>

{% endblock %}
