<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/media/static/1930264_check_complete_done_green_success_icon.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Follow-up
    </a>
    <ul class="navbar-nav ms-auto">
      
      <li class="nav-item">
        <a href="/" class="nav-link"><i class="fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item">
        <a href="/pages" class="nav-link"><i class="fa-solid fa-list"></i></a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link"><i class="fa-solid fa-circle-info"></i></a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sites
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'site_create' %}">Create</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'sites' %}">List</a></li>
                <li><a class="dropdown-item" href="{% url 'site_table' %}">Table</a></li>
                <li><a class="dropdown-item" href="{% url 'site_scroll' %}">Scroll</a></li>
                <li><a class="dropdown-item" href="/site_listgrid/1/">List/Grid</a></li>
                <li><a class="dropdown-item" href="/site_nav/1/">Nav</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Racks
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'rack_create' %}">Create</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'racks' %}">List</a></li>
                <li><a class="dropdown-item" href="{% url 'rack_table' %}">Table</a></li>
                <li><a class="dropdown-item" href="/rack_nav/1/">Nav</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vendors
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'vendor_create' %}">Create</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'vendors' %}">List</a></li>
                <li><a class="dropdown-item" href="{% url 'vendor_table' %}">Table</a></li>
                <li><a class="dropdown-item" href="/vendor_nav/1/">Nav</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Devices
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'device_create' %}">Create</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'devices' %}">List</a></li>
                <li><a class="dropdown-item" href="{% url 'device_table' %}">Table</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Operators
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'operator_create' %}">Create</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'operators' %}">List</a></li>
                <li><a class="dropdown-item" href="{% url 'operator_table' %}">Table</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cases
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'case_create' %}">Create</a></li>
                <li><a class="dropdown-item" href="{% url 'cases' %}">List</a></li>
                <li><a class="dropdown-item" href="{% url 'case_table' %}">Table</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/edit_profile"><strong>{{request.user.username}}</strong></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item">Tasks</a></li>
                  <ul>
                    <li><a class="dropdown-item" href="{% url 'task_create' %}">Create</a></li>
                    <li><a class="dropdown-item" href="{% url 'tasks' %}">List pending</a></li>
                    <li><a class="dropdown-item" href="{% url 'tasks_completed' %}">List completed</a></li>
                    <li><a class="dropdown-item" href="{% url 'task_table' %}">Table</a></li>
                  </ul>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        {% else %}
        <li class="nav-item">
          <a href="/signin" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
