{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Operators</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/operator_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/operators">List</a></li>
    <li class="breadcrumb-item"><a href="/operator_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/operator_nav/1">Nav</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit/Delete</li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-body">
    <p><strong>{{operator.operatorId}} - {{operator.firstName}} {{operator.lastName}} - {{operator.email}} - {{operator.contact}} - {{operator.backOffice}} - {{operator.user.username}}</strong></p>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
    
      <section>
        <img 
          src="{{ operator.operatorImage.url }}"
          alt="{{ operator.name }}"
        />
      </section>
    
      <button>
        Update
      </button>
    </form>
    
    <form action="{% url 'operator_delete' operator.id %}" method="POST">
      {% csrf_token %}
      
      <button>
        Delete
      </button>
    </form>
  
  </div>
</div>

{% endblock %}