{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Operators</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">List</li>
    <li class="breadcrumb-item"><a href="/operator_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/operator_create">Create</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    {% for operator in operators %}
    <li>
      <!-- {{operator.id}} -->{{operator.operatorId}} - {{operator.firstName}} {{operator.lastName}} - {{operator.email}} - {{operator.contact}} - {{operator.backOffice}} - {{operator.user.username}}
      {% if user.is_staff %}
      - <a href="{% url 'operator_detail' operator.id %}">Edit / Delete</a>
     {% endif %}
    </li>
    {% endfor %}

  </div>
</div>

{% endblock %}
