{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Operators</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item active" aria-current="page">Create</li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/operators">List</a></li>
    <li class="breadcrumb-item"><a href="/operator_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/operator_nav/1">Nav</a></li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-body">

    <form action="/operator_create/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
  
      <button>
        Save
      </button>
    </form>
    
  </div>
</div>

{% endblock %}