{% extends 'base.html' %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
          <h2 class="mt-4">Páginas</h2>
          <ol class="breadcrumb mb-4">
            <ul>
              <li>Home</li>
              <li>Pages</li>
              <li>About</li>
              <li>List
                <ul>
                  <li>Site</li>
                  <li>Vendor</li>
                  <li>Device</li>
                  <li>Operator</li>
                  <li>Case</li>
                  <li>Task</li>
                </ul>
              </li>
              <li>Create
                <ul>
                  <li>Site (only staff member)</li>
                  <li>Vendor (only staff member)</li>
                  <li>Device (only staff member)</li>
                  <li>Operator (only staff member)</li>
                  <li>Case</li>
                </ul>
              </li>
              <li>Edit / Delete
                <ul>
                  <li>Site (only staff member)</li>
                  <li>Vendor (only staff member)</li>
                  <li>Device (only staff member)</li>
                  <li>Operator (only staff member)</li>
                  <li>Case</li>
                </ul>
              </li>
              <li>User
                <ul>
                  <li>Task</li>
                  <ul>
                    <li>Create</li>
                    <li>Edit / Delete</li>
                    <li>Completed</li>
                  </ul>
                  <li>Edit profile</li>
                  <li>Logout</li>
                </ul>
              </li>
            </ul>
          </ol>
          <div class="card mb-4">
            <div class="card-body">¿
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem laudantium commodi doloremque neque dicta officiis saepe! Deleniti mollitia iste, nisi vel cupiditate, delectus nesciunt, eligendi illo et error sit praesentium!
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam ullam consequuntur architecto aperiam tempore repellat voluptatem repellendus vel facilis totam voluptate tempora, eaque eveniet libero molestiae ex accusantium magni iure?
            </div>
            <div class="card-body">
              <img src="/media/static/vecteezy.png" class="img-fluid">
            </div>
          </div>
        </div>
    </main>
</div>

{% endblock %}