{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Pages</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pages</li>
    <li class="breadcrumb-item"><a href="/about">About</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    <div class="container">
      <div class="row align-items-start">
        <div class="col-6">
          <p>
            Páginas accesibles sin necesidad de estar registrado:
          </p>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'pages' %}">Pages</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'signin' %}">Sing In</a></li>
          <li><a href="{% url 'signup' %}">Sing Up</a></li>
        </div>
        <div class="col-6">
          <p>
            Páginas accesibles y asociadas solo al usuario que ha ingresado:
          </p>
          <li><a href="{% url 'profile_edit' %}"><strong>Username</strong></a> > Edit profile</li>
          <li><a href="{% url 'logout' %}">Logout </a>> Home</li>
          <br>
          Tasks
          <li><a href="{% url 'task_create' %}">Create</a></li>
          <li><a href="{% url 'tasks' %}">List pending</a></li>
          <li><a href="{% url 'tasks_completed' %}">List completed</a></li>
          <li><a href="{% url 'task_table' %}">Table</a></li>
          <br>
        </div>
        <hr>
        <div class="row">
          <p>
            Páginas accesibles solo para usuarios registrados que hayan ingresado:
          </p>
          <div class="col-2">
            Sites
            <li><a href="{% url 'sites' %}">List</a></li>
            <li><a href="{% url 'site_table' %}">Table</a></li>
            <li><a href="{% url 'site_scroll' %}">Scroll</a></li>
            <li><a href="/site_listgrid/1/">List/Grid</a></li>
            <li><a href="/site_nav/1/">Nav</a></li>
            <br>
          </div>
          <div class="col-2">
            Rack
            <li><a href="{% url 'racks' %}">List</a></li>
            <li><a href="{% url 'rack_table' %}">Table</a></li>
          </div>
          <div class="col-2">
            Vendors
            <li><a href="{% url 'vendors' %}">List</a></li>
            <li><a href="{% url 'vendor_table' %}">Table</a></li>
          </div>
          <div class="col-2">
            Device
            <li><a href="{% url 'devices' %}">List</a></li>
            <li><a href="{% url 'device_table' %}">Table</a></li>
          </div>
          <div class="col-2">
            Operators
            <li><a href="{% url 'operators' %}">List</a></li>
            <li><a href="{% url 'operator_table' %}">Table</a></li>
          </div>
          <div class="col-2">
            Cases
            <li><a href="{% url 'case_create' %}">Create</a></li>
            <li><a href="{% url 'cases' %}">List</a></li>
            <li><a href="{% url 'case_table' %}">Table</a></li>
            <li><a href="/cases/1">Edit / Delete</a></li>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <p>
            Páginas accesibles solo para usuarios admin o staff:
          </p>
          <div class="col-2">
            Sites
            <li><a href="{% url 'site_create' %}">Create</a></li>
            <li><a href="/sites/1">Edit/Delete</a></li>
          </div>
          <div class="col-2">
            Rack
            <li><a href="{% url 'rack_create' %}">Create</a></li>
            <li><a href="/racks/1">Edit/Delete</a></li>
          </div>
          <div class="col-2">
            Vendors
            <li><a href="{% url 'vendor_create' %}">Create</a></li>
            <li><a href="/vendors/1">Edit/Delete</a></li>
          </div>
          <div class="col-2">
            Device
            <li><a href="{% url 'device_create' %}">Create</a></li>
            <li><a href="/devices/1">Edit/Delete</a></li>
          </div>
          <div class="col-2">
            Operators
            <li><a href="{% url 'operator_create' %}">Create</a></li>
            <li><a href="/operators/1">Edit/Delete</a></li>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}