{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Racks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/rack_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/racks">List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Table</li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Rack ID</th>
                <th>Site</th>
                <th>Name</th>
                {% if user.is_staff %}
                <th>Options</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for rack in racks %}
            <tr>
                <td><a href="{% url 'rack_nav' rack.id %}">{{ rack.rackId }}</a></td>
                <td>{{ rack.site }}</td>
                <td>{{ rack.name }}</td>
                {% if user.is_staff %}
                <td><a href="{% url 'rack_detail' rack.id %}">Edit/Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</div>

{% endblock %}