{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Racks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/rack_create">Create</a></li>
    <li class="breadcrumb-item"><a href="/racks">List</a></li>
    <li class="breadcrumb-item"><a href="/rack_table">Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit/Delete</li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-body">
    <p><strong>{{rack.rackId}} - {{rack.site}} - {{rack.name}}</strong></p>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
    
      <section>
        <img 
          src="{{ rack.rackImage.url }}"
          alt="{{ rack.name }}"
        />
      </section>
    
      <button>
        Update
      </button>
    </form>
    
    <form action="{% url 'rack_delete' rack.id %}" method="POST">
      {% csrf_token %}
      
      <button>
        Delete
      </button>
    </form>

  </div>
</div>

{% endblock %}