{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Racks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/rack_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">List</li>
    <li class="breadcrumb-item"><a href="/rack_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/rack_nav/1">Nav</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    {% for rack in racks %}
    <li>
      <a href="{% url 'rack_nav' rack.id %}">{{ rack.rackId }}</a>
      <!-- {{rack.id}} --> - {{rack.site}} - {{rack.name}}
      {% if user.is_staff %}
       - <a href="{% url 'rack_detail' rack.id %}">Edit/Delete</a>
      {% endif %}
    </li>
    {% endfor %}

  </div>
</div>

{% endblock %}
