{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Racks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">List</li>
    <li class="breadcrumb-item"><a href="/rack_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/rack_create">Create</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    {% for rack in racks %}
    <li>
      <!-- {{rack.id}} -->{{rack.rackId}} - {{rack.site}} - {{rack.name}} - 
      <a href="{% url 'rack_detail' rack.id %}">
        Edit / Delete
      </a>
    </li>
    {% endfor %}

  </div>
</div>

{% endblock %}
