{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Racks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/rack_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/racks">List</a></li>
    <li class="breadcrumb-item"><a href="/rack_table">Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nav</li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-header">

    <ul class="nav">
      <li class="nav-item {% if rack.id == current_rack.id %}active{% endif %}"></li>
        {% for rack in racks %}
          <a class="nav-link" href="{% url 'rack_nav' rack.id %}">{{ rack.name }}</a>
        {% endfor %}
      </li>
    </ul>

  </div>
  <div class="container" enctype="multipart/form-data">
    <br>
    <div class="row">
      <div class="col-6">
        <li>Rack ID: {{rack.rackId}}</li>
        <li>Site: {{rack.site}}</li>
        <li>Name: {{rack.name}}</li>
      </div>
      <div class="col-6">
        <div class="row">
          {% if user.is_staff %}
          <td><a class="text-end" href="{% url 'rack_edit' rack.id %}">Edit / Delete</a></td>
          {% endif %}
        </div>
        <div class="row">
          <section>
            <img 
            class="img-fluid float-end" 
            src="{{ rack.rackImage.url }}" 
            alt="{{ rack.name }}"/>
          </section>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

{% endblock %}