{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Sites</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/site_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item"><a href="/sites">List</a></li>
    <li class="breadcrumb-item"><a href="/site_table">Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Scroll</li>
    <li class="breadcrumb-item"><a href="/site_listgrid/1">List/Grid</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body" >

    <div class="row">

      <div class="col-1">
        <div id="list-example" class="list-group">
          {% for site in sites %}
          <a class="list-group-item list-group-item-action" href="#{{site.name}}">{{site.name}}</a>
          {% endfor %}
        </div>
      </div>
      
      <div class="col-11 overflow-auto" style="height: 300px;">

        {% for site in sites %}
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-offset="100" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
          
          <div class="row">
            <div class="col-6">
              <div id="{{site.name}}"><h4>{{site.name}}</h4></div>
            </div>
            <div class="col-6">
              {% if user.is_staff %}
              <td><a class="rounded float-end" href="{% url 'site_edit' site.id %}"> Edit/Delete</a></td>
              {% endif %}
            </div>
            <hr>
          </div>

          <div class="row">
            <div class="col-6">
              <li>Site ID: {{site.siteId}}</li>
              <li>Country: {{site.country}}</li>
              <li>City: {{site.city}}</li>
              <li>Adddress: {{site.address}}</li>
              <li>Contact: {{site.contact}}</li>
              <li>Switchowner: {{site.switchowner}}</li>
              <li>Name: {{site.name}}</li>
            </div>
            <div class="col-6">
              <section>
                <img 
                class="img-fluid float-end" 
                src="{{ site.siteImage.url }}" 
                alt="{{ site.name }}"/>
              </section>
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tenetur itaque, perspiciatis, molestias enim assumenda et est necessitatibus consequuntur voluptates fugit facere id! Quos accusantium pariatur voluptates harum, cum inventore.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, molestiae. Repellat delectus nisi, in inventore optio facere quia quibusdam incidunt ipsam consectetur blanditiis illum quod impedit aliquid excepturi illo! Quae!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam error quis velit quidem, vero beatae qui voluptates reiciendis voluptas explicabo, maxime incidunt? Animi cum dolore iure a accusamus, deserunt vero!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus, quas ipsa fugiat dolores eos ad voluptas cumque officia aperiam ratione quidem incidunt accusantium, dolorum quae quo iusto quos perspiciatis.
            </p>
            <br>
            <br>
          </div>

        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}