{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Edit / Delete > Site</h2>

{{site.siteId}} - {{site.country}} - {{site.city}} - {{site.address}} - {{site.contact}} - {{site.switchowner}} - {{site.name}}

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-body">
    
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
    
      <section>
        <img 
          src="{{ site.siteImage.url }}"
          alt="{{ site.name }}"
        />
      </section>
    
      <button>
        Update
      </button>
    </form>
    
    <form action="{% url 'site_delete' site.id %}" method="POST">
      {% csrf_token %}
      
      <button>
        Delete
      </button>
    </form>

  </div>
</div>

{% endblock %}