{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Sites</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/sites">List</a></li>
    <li class="breadcrumb-item"><a href="/site_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/site_scroll">Scroll</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
    <li class="breadcrumb-item"><a href="/site_nav/1">Nav</a></li>
    <li class="breadcrumb-item"><a href="/site_create">Create</a></li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  /* background-color: #f1f1f1; */
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
</style>

<div id="btnContainer">
  <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button> 
  <button class="btn" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
</div>

<div class="row">
  {% for site in sites %}
  <div class="column" style="background-color:#ffffff;" enctype="multipart/form-data">

    <div class="container">
      <div class="row">

        <div class="col-12 bg-light p-3 border">
          <strong>{{site.name }}</strong>
          {% if user.is_staff %}
          <td><a class="rounded float-end" href="{% url 'site_edit' site.id %}"> Edit / Delete</a></td>
          {% endif %}
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>
    
        <div class="col-6 bg-light p-3 border">
          <li>Site ID: {{site.siteId}}</li>
          <li>Country: {{site.country}}</li>
          <li>City: {{site.city}}</li>
          <li>Adddress: {{site.address}}</li>
          <li>Contact: {{site.contact}}</li>
          <li>Switchowner: {{site.switchowner}}</li>
          <li>Name: {{site.name}}</li>
        </div>

        <div class="col-6 bg-light p-3 border">
          <section><img class="img-fluid" src="{{ site.siteImage.url }}" alt="{{ site.name }}"/></section>
        </div>

      </div>
    </div>

  </div>
  {% endfor %}
</div>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// List View
function listView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "100%";
  }
}

// Grid View
function gridView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "50%";
  }
}

/* Optional: Add active class to the current button (highlight it) */
var container = document.getElementById("btnContainer");
var btns = container.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

{% endblock %}