{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Sites</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/site_create">Create</a></li>
    <li class="breadcrumb-item"><a href="/sites">List</a></li>
    <li class="breadcrumb-item"><a href="/site_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/site_scroll">Scroll</a></li>
    <li class="breadcrumb-item"><a href="/site_detail/1">Detail</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nav</li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-header">

    <ul class="nav nav-pills">
      <li class="nav-item {% if site.id == current_site.id %}active{% endif %}"></li>
        {% for site in sites %}
          <a class="nav-link" href="{% url 'site_nav' site.id %}">{{ site.name }}</a>
        {% endfor %}
      </li>
    </ul>

  </div>
  <div class="card-body">

    <div class="container" enctype="multipart/form-data">
      <div class="row">

        <div class="col">
          <li>Site ID: {{site.siteId}}</li>
          <li>Country: {{site.country}}</li>
          <li>City: {{site.city}}</li>
          <li>Adddress: {{site.address}}</li>
          <li>Contact: {{site.contact}}</li>
          <li>Switchowner: {{site.switchowner}}</li>
          <li>Name: {{site.name}}</li>
        </div>

        <div class="col ms-auto">
          <img src="{{ site.siteImage.url }}" alt="{{ site.name }}"/>
          <hr>
          {% if user.is_staff %}
          <td><a class="text-end" href="{% url 'site_edit' site.id %}">Edit / Delete</a></td>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}