{% extends 'base.html' %}

{% block content %}

    <h2>Site > Table</h2>
    
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>db.sqlite3 ID</th>
                <th>Site ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Switchowner</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.siteId }}</td>
                <td>{{ site.name }}</td>
                <td>{{ site.address }}</td>
                <td>{{ site.city }}</td>
                <td>{{ site.country }}</td>
                <td>{{ site.switchowner }}</td>
                <td>{{ site.contact }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}