{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Sites</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if user.is_staff %}
    <li class="breadcrumb-item"><a href="/site_create">Create</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">List</li>
    <li class="breadcrumb-item"><a href="/site_table">Table</a></li>
    <li class="breadcrumb-item"><a href="/site_scroll">Scroll</a></li>
    <li class="breadcrumb-item"><a href="/site_listgrid/1">List/Grid</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    {% for site in sites %}
    <li>
      <a href="{% url 'site_nav' site.id %}">{{ site.siteId }}</a>
      <!-- {{site.id}} --> - {{site.country}} - {{site.city}} - {{site.address}} - {{site.contact}} - {{site.switchowner}} - {{site.name}}
      {% if user.is_staff %}
       - <a href="{% url 'site_edit' site.id %}">Edit/Delete</a>
      {% endif %}
    </li>
    {% endfor %}

  </div>
</div>

{% endblock %}
