{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Sites</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/sites">List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Table</li>
    <li class="breadcrumb-item"><a href="/site_scroll">Scroll</a></li>
    <li class="breadcrumb-item"><a href="/site_detail/1">Detail</a></li>
    <li class="breadcrumb-item"><a href="/site_nav/1">Nav</a></li>
    <li class="breadcrumb-item"><a href="/site_create">Create</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">
    
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Site ID</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Switchowner</th>
                <th>Name</th>
                {% if user.is_staff %}
                <th>Options</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for site in sites %}
            <tr>
                <td><a href="{% url 'site_nav' site.id %}">{{ site.siteId }}</a></td>
                <td>{{ site.country }}</td>
                <td>{{ site.city }}</td>
                <td>{{ site.address }}</td>
                <td>{{ site.contact }}</td>
                <td>{{ site.switchowner }}</td>
                <td>{{ site.name }}</td>
                {% if user.is_staff %}
                <td><a href="{% url 'site_edit' site.id %}">Edit / Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</div>

{% endblock %}