{% extends 'base.html' %}

{% block content %}


<h2 class="mt-4">Tasks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/task_create">Create</a></li>
    <li class="breadcrumb-item"><a href="/tasks">List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Table</li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
                <th>Completed</th>
                <th>Important</th>
                <th>Username</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.created }}</td>
                <td>{{ task.completed }}</td>
                <td>{{ task.important }}</td>
                <td>{{ task.user.username }}</td>
                <td><a href="{% url 'task_detail' task.id %}">Edit/Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</div>

{% endblock %}