{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Tasks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/task_create">Create</a></li>
    <li class="breadcrumb-item active" aria-current="page">List</a></li>
    <li class="breadcrumb-item"><a href="/task_table">Table</a></li>
  </ol>
</nav>

<div class="card mb-4">
  <div class="card-body">
    
    {% for task in tasks %}
    <li>
      <a href="{% url 'task_detail' task.id %}">
        {% if task.important %}
        <strong><!-- {{task.id}} -->{{task.title}}</strong>
        {% else %}
        <!-- {{task.id}} -->{{task.title}}
        {% endif %}
      </a>
       - {{task.description}} <b style="background-color:lightgreen;">{{task.completed|date:'D M j G:i:s T Y'}}</b>
    </li>
    {% empty %}
    
    No hay tareas

    {% endfor %}

  </div>
</div>

{% endblock %}
