{% extends 'base.html' %}

{% block content %}

    <h2>Task > List</h2>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
                <th>Completed</th>
                <th>Important</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.created }}</td>
                <td>{{ task.completed }}</td>
                <td>{{ task.important }}</td>
                <td>{{ task.user.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}