{% extends 'base.html' %}

{% block content %}

<h2 class="mt-4">Tasks</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/task_create">Create</a></li>
    <li class="breadcrumb-item"><a href="/tasks">List</a></li>
    <li class="breadcrumb-item"><a href="/task_table">Table</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit/Delete</li>
  </ol>
</nav>

<p>
  {{error}}
</p>

<div class="card mb-4">
  <div class="card-body">
    <p><strong>{{task.title}} - {{task.description}} - {{task.created}} - {{task.user.username}}</strong></p>

    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
    
      <button>
        Update
      </button>
    </form>
    
    <form action="{% url 'task_complete' task.id %}" method="POST">
      {% csrf_token %}
    
      <button>
        Complete
      </button>
    </form>
    
    <form action="{% url 'task_delete' task.id %}" method="POST">
      {% csrf_token %}
      
      <button>
        Delete
      </button>
    </form>

  </div>
</div>

{% endblock %}